.Brancher {
}

.name {
    font-size: 1.5em;
}

.brancher-node {
    margin-bottom: 3px;
}

.brancher-node .name {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 5px 10px;
    font-family: "Times New Roman";
    color: #D8E6F3;
}

.name-left {
    flex-grow: 99;
    cursor: pointer;
}

.name-right {
    padding-top: 6px;
}

.brancher-node-children {
    margin-top: 3px;
    margin-left: 1.5em;
}

.selected {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.icon {
    color: #D8E6F3;
    position: relative;
    bottom: -6px;
    margin-right: 3px;
}

.action-icon:hover {
    color: red;
    cursor: pointer;
}

.brancher-actions {
    display: flex;
    border-bottom: 3px solid #D8E6F3;
    padding: 0 10px 12px 10px;
}

.brancher-actions .icon {
        cursor: pointer;
}

.brancher-action-right {
    margin-left: auto;
}

.name-input {
    font-family: "Times New Roman";
    color: #D8E6F3;
    background-color: #32394D;
    font-size: 1.1em;
    width: 5em;
    margin-bottom: 3px;
}

form {
    display: inline-block;
}
