.name {
    font-size: 1.5em;
}

.brancher-node {
    margin-bottom: 3px;
}

.brancher-node .name {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 5px 10px;
    font-family: "Times New Roman";
    color: #D8E6F3;
}

.name-left {
    cursor: pointer;
}

.name-right {
    padding-top: 6px;
}

.brancher-node-children {
    margin-top: 3px;
    margin-left: 1.5em;
}

.selected {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.icon {
    color: #D8E6F3;
    position: relative;
    bottom: -6px;
    margin-right: 3px;
}

.action-icon:hover {
    color: red;
    cursor: pointer;
}
