.modal {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #32394D;
    padding: 30px;
    border-radius: 10px;
    color: #D8E6F3;
    border: 10px solid #32394D;
}
.modal:focus {
    outline: none;
}

.error {
    color:red;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.button-row {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

input {
    margin-left: 10px;
}

button {
    margin-left: 10px;
}
