.Site {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 350px auto;
    grid-column-gap: 10px;

    background-color: #32394D;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 600px;
}
